<div class="columns">
  <ul>
    <li>
      <h3 style="text-align: left">
        <span style="color: #ffffff">WHISKY</span>
      </h3>
      <ul>
        <li>Jameson</li>
        <li>Johnnie Walker Red</li>
        <li>Johnnie Walker Black</li>
        <li>Jack Daniel's</li>
        <li>Jack Daniel's Honey</li>
        <li>Gentleman Jack</li>
        <li>Chivas Regal 12 Años</li>
        <li>Buchanan's 12 Años</li>
        <li>JB</li>
        <li>William Lawson's</li>
        <li>Old Par</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h3 style="text-align: left">
        <span style="color: #ffffff">BRANDY</span>
      </h3>
      <ul>
        <li>Terry</li>
        <li>Torres 5</li>
        <li>Torres 10</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h3><span style="color: #ffffff">GIN</span></h3>
      <ul>
        <li>Beefeater</li>
        <li>Tanqueray</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h3 style="text-align: left">
        <span style="color: #ffffff">LICORES</span>
      </h3>
      <ul>
        <li>Baileys</li>
        <li>Hpnotiq</li>
        <li>Jägermeister (servicio 4 mezcladores) 700ml.</li>
        <li>Licor 43</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <span style="color: #ffffff">RON</span>
      <ul>
        <li>Matusalem Platinum</li>
        <li>Matusalem Clásico</li>
        <li>Matusalem 15 Años</li>
        <li>Matusalem 18 Años</li>
        <li>Bacardi Blanco</li>
        <li>Captain Morgan</li>
        <li>Captain Black</li>
        <li>Captain White</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h3><span style="color: #ffffff">VODKA</span></h3>
      <ul>
        <li>Smirnoff</li>
        <li>Absolut</li>
        <li>Absolut Rasperry</li>
        <li>Belvedere</li>
        <li>Stolichnaya</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h3><span style="color: #ffffff">TEQUILA</span></h3>
      <ul>
        <li>Don Julio</li>
        <li>Don Julio 70</li>
        <li>Tradicional</li>
        <li>Herradura Reposado</li>
        <li>Cazadores</li>
      </ul>
    </li>
  </ul>
</div>

<div class="columns">
  <ul>
    <li>
      <h4><span style="color: #ffffff">MEZCLA DE BOTANA</span></h4>
      <ul>
        <li>
          <p style="text-align: left">
            6 alitas picantes, 8 Nuggets, 6 aros de cebolla, 5 dedos de queso y
            papas acompañados por nuestro aderezo de Blue Cheese.
          </p>
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h4><span style="color: #ffffff">PERRO CALIENTE Y PAPAS</span></h4>
      <ul>
        <li>
          Enorme Hot-Dog con Ketchup, Mayonesa, Mostaza y Jitomate. Acompañado
          de Papas.
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h4><span style="color: #ffffff">PERRO PICANTE CON PAPAS</span></h4>
      <ul>
        <li>
          Con Delicioso Tocino y una porción generosa de nuestro Chili, bañado
          con Queso Cheddar. Acompañado de papas.
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h4><span style="color: #ffffff">DEDOS DE QUESO</span></h4>
      <ul>
        <li>
          Tradicionales dedos Queso Mozzarela Empanizados y Crujientes
          acompañados por cualquiera de Blue Cheese.
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h4><span style="color: #ffffff">AROS DE CEBOLLA</span></h4>
      <ul>
        <li>
          12 Piezas de Crujientes. Aros de Cebolla acompañados de nuestro
          Aderezo Blue Cheese.
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h4><span style="color: #ffffff">NACHOS CLÁSICOS</span></h4>
      <ul>
        <li>
          Deliciosos Totopos bañados de frijoles y queso cheddar acompañados con
          cubos de jitomate y rodajas de jalapeños ¿Qué más puedes pedir?
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="columns">
  <ul>
    <li>
      <h4><span style="color: #ffffff">HAMBURGUESA CLÁSICA</span></h4>
      <ul>
        <li>
          Nuestra Hamburguesa de la Casa. Carne de Res, Tocino, Jitomate,
          Lechuga y Queso, acompañada de Papas.
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <h4><span style="color: #ffffff">HAMBURGUESA ROJO ARDIENTE</span></h4>
      <ul>
        <li>
          Carne de Res, con Tocino, Queso Cheddar, Jalapeños Asados, Lechuga y
          Aderezo de Chipotle. Acompañada de Papas
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <h4><span style="color: #ffffff">HAMBURGUESA MEXICANA</span></h4>
      <ul>
        <li>
          Deliciosa hamburguesa de carne de res con un toque muy mexicano,
          preparada con guacamole, totopos chile chiltepín con cebolla
          caramelizada Acompañada de Papas.
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <h4>
        <span style="color: #ffffff">HAMBURGUESA CON CARNE PICANTE)</span>
      </h4>
      <ul>
        <li>
          Clásica Hamburguesa con Chili de la Casa, Queso Cheddar y Picantes
          Jalapeños! Acompañada con Papas.
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="columns">
  <ul>
    <li>
      <h4><span style="color: #ffffff">ENSALADA CÉSAR</span></h4>
      <ul>
        <li>
          Nuestra Tradicional y ya Favorita Ensalada de Lechuga cubierta con
          Aderezo César, Crotones de Pan, Queso Parmesano y deliciosas Tiras de
          Pechuga de Pollo a la Plancha.
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <h4><span style="color: #ffffff">CRUNCHY SALAD</span></h4>
      <ul>
        <li>
          Generosa porción de lechuga acompañada de crujientes crotones de pan,
          queso rallado, pequeños trozos de nuez y arándanos, bañados con el
          aderezo de la casa.
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="columns">
  <ul>
    <li><h4><span style="color: #ffffff;">PAY DE QUESO</span></h4>
      <ul>
        <li>El tradicional pay de queso.</li>
      </ul>
    </li>
  </ul>
  <ul>
    <li><h4><span style="color: #ffffff;">CAFÉ</span></h4>
      <ul>
        <li>Capuccino</li>
        <li>Americano</li>
        <li>Espresso</li>
        <li>Carajillo</li>
      </ul>
    </li>
  </ul>
</div>

<h3 class="column-header">BEBIDAS</h3>
<div class="columns">
  <ul>
    <li>
      <h3 style="text-align: left">
        <span style="color: #ffffff">WHISKY</span>
      </h3>
      <ul>
        <li>Jameson</li>
        <li>Johnnie Walker Red</li>
        <li>Johnnie Walker Black</li>
        <li>Jack Daniel's</li>
        <li>Jack Daniel's Honey</li>
        <li>Gentleman Jack</li>
        <li>Chivas Regal 12 Años</li>
        <li>Buchanan's 12 Años</li>
        <li>JB</li>
        <li>William Lawson's</li>
        <li>Old Par</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h3 style="text-align: left">
        <span style="color: #ffffff">BRANDY</span>
      </h3>
      <ul>
        <li>Terry</li>
        <li>Torres 5</li>
        <li>Torres 10</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h3><span style="color: #ffffff">GIN</span></h3>
      <ul>
        <li>Beefeater</li>
        <li>Tanqueray</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h3 style="text-align: left">
        <span style="color: #ffffff">LICORES</span>
      </h3>
      <ul>
        <li>Baileys</li>
        <li>Hpnotiq</li>
        <li>Jägermeister (servicio 4 mezcladores) 700ml.</li>
        <li>Licor 43</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <span style="color: #ffffff">RON</span>
      <ul>
        <li>Matusalem Platinum</li>
        <li>Matusalem Clásico</li>
        <li>Matusalem 15 Años</li>
        <li>Matusalem 18 Años</li>
        <li>Bacardi Blanco</li>
        <li>Captain Morgan</li>
        <li>Captain Black</li>
        <li>Captain White</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h3><span style="color: #ffffff">VODKA</span></h3>
      <ul>
        <li>Smirnoff</li>
        <li>Absolut</li>
        <li>Absolut Rasperry</li>
        <li>Belvedere</li>
        <li>Stolichnaya</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h3><span style="color: #ffffff">TEQUILA</span></h3>
      <ul>
        <li>Don Julio</li>
        <li>Don Julio 70</li>
        <li>Tradicional</li>
        <li>Herradura Reposado</li>
        <li>Cazadores</li>
      </ul>
    </li>
  </ul>
</div>

<h3 class="column-header" >BOTANAS</h3>
<div class="columns">

  <ul>
    <li>
      <h4><span style="color: #ffffff">MEZCLA DE BOTANA</span></h4>
      <ul>
        <li>
          <p style="text-align: left">
            6 alitas picantes, 8 Nuggets, 6 aros de cebolla, 5 dedos de queso y
            papas acompañados por nuestro aderezo de Blue Cheese.
          </p>
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h4><span style="color: #ffffff">PERRO CALIENTE Y PAPAS</span></h4>
      <ul>
        <li>
          Enorme Hot-Dog con Ketchup, Mayonesa, Mostaza y Jitomate. Acompañado
          de Papas.
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h4><span style="color: #ffffff">PERRO PICANTE CON PAPAS</span></h4>
      <ul>
        <li>
          Con Delicioso Tocino y una porción generosa de nuestro Chili, bañado
          con Queso Cheddar. Acompañado de papas.
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h4><span style="color: #ffffff">DEDOS DE QUESO</span></h4>
      <ul>
        <li>
          Tradicionales dedos Queso Mozzarela Empanizados y Crujientes
          acompañados por cualquiera de Blue Cheese.
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h4><span style="color: #ffffff">AROS DE CEBOLLA</span></h4>
      <ul>
        <li>
          12 Piezas de Crujientes. Aros de Cebolla acompañados de nuestro
          Aderezo Blue Cheese.
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <h4><span style="color: #ffffff">NACHOS CLÁSICOS</span></h4>
      <ul>
        <li>
          Deliciosos Totopos bañados de frijoles y queso cheddar acompañados con
          cubos de jitomate y rodajas de jalapeños ¿Qué más puedes pedir?
        </li>
      </ul>
    </li>
  </ul>
</div>
<h3 class="column-header">HAMBURGUESAS</h3>
<div class="columns">
  <ul>
    <li>
      <h4><span style="color: #ffffff">HAMBURGUESA CLÁSICA</span></h4>
      <ul>
        <li>
          Nuestra Hamburguesa de la Casa. Carne de Res, Tocino, Jitomate,
          Lechuga y Queso, acompañada de Papas.
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <h4><span style="color: #ffffff">HAMBURGUESA ROJO ARDIENTE</span></h4>
      <ul>
        <li>
          Carne de Res, con Tocino, Queso Cheddar, Jalapeños Asados, Lechuga y
          Aderezo de Chipotle. Acompañada de Papas
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <h4><span style="color: #ffffff">HAMBURGUESA MEXICANA</span></h4>
      <ul>
        <li>
          Deliciosa hamburguesa de carne de res con un toque muy mexicano,
          preparada con guacamole, totopos chile chiltepín con cebolla
          caramelizada Acompañada de Papas.
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <h4>
        <span style="color: #ffffff">HAMBURGUESA CON CARNE PICANTE)</span>
      </h4>
      <ul>
        <li>
          Clásica Hamburguesa con Chili de la Casa, Queso Cheddar y Picantes
          Jalapeños! Acompañada con Papas.
        </li>
      </ul>
    </li>
  </ul>
</div>
<h3 class="column-header">ENSALADAS</h3> 
<div class="columns">
  <ul>
    <li>
      <h4><span style="color: #ffffff">ENSALADA CÉSAR</span></h4>
      <ul>
        <li>
          Nuestra Tradicional y ya Favorita Ensalada de Lechuga cubierta con
          Aderezo César, Crotones de Pan, Queso Parmesano y deliciosas Tiras de
          Pechuga de Pollo a la Plancha.
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <h4><span style="color: #ffffff">CRUNCHY SALAD</span></h4>
      <ul>
        <li>
          Generosa porción de lechuga acompañada de crujientes crotones de pan,
          queso rallado, pequeños trozos de nuez y arándanos, bañados con el
          aderezo de la casa.
        </li>
      </ul>
    </li>
  </ul>
</div>
<h3 class="column-header">POSTRES</h3> 
<div class="columns">
  <ul>
    <li><h4><span style="color: #ffffff;">PAY DE QUESO</span></h4>
      <ul>
        <li>El tradicional pay de queso.</li>
      </ul>
    </li>
  </ul>
  <ul>
    <li><h4><span style="color: #ffffff;">CAFÉ</span></h4>
      <ul>
        <li>Capuccino</li>
        <li>Americano</li>
        <li>Espresso</li>
        <li>Carajillo</li>
      </ul>
    </li>
  </ul>
</div>




<h3 class="column-header">SNACKS</h3>
<div class="columns">
<ul>
 	<li>
<h4><span style="color: #ffffff;">MEZCLA DE BOTANA</span></h4>
<ul>
 	<li>
<p style="text-align: left;">6 alitas picantes, 8 Nuggets, 6 aros de cebolla, 5 dedos de queso y
papas acompañados por nuestro aderezo de Blue Cheese.</p>
</li>
</ul>
</li>
</ul>
<ul>
 	<li>
<h4><span style="color: #ffffff;">PERRO CALIENTE Y PAPAS</span></h4>
<ul>
 	<li>Enorme Hot-Dog con Ketchup, Mayonesa, Mostaza y Jitomate. Acompañado
de Papas.</li>
</ul>
</li>
</ul>
<ul>
 	<li>
<h4><span style="color: #ffffff;">PERRO PICANTE CON PAPAS</span></h4>
<ul>
 	<li>Con Delicioso Tocino y una porción generosa de nuestro Chili, bañado
con Queso Cheddar. Acompañado de papas.</li>
</ul>
</li>
</ul>
<ul>
 	<li>
<h4><span style="color: #ffffff;">DEDOS DE QUESO</span></h4>
<ul>
 	<li>Tradicionales dedos Queso Mozzarela Empanizados y Crujientes
acompañados por cualquiera de Blue Cheese.</li>
</ul>
</li>
</ul>
<ul>
 	<li>
<h4><span style="color: #ffffff;">AROS DE CEBOLLA</span></h4>
<ul>
 	<li>12 Piezas de Crujientes. Aros de Cebolla acompañados de nuestro
Aderezo Blue Cheese.</li>
</ul>
</li>
</ul>
<ul>
 	<li>
<h4><span style="color: #745555;">NACHOS CLÁSICOS</span></h4>
<ul>
 	<li>Deliciosos Totopos bañados de frijoles y queso cheddar acompañados con
cubos de jitomate y rodajas de jalapeños ¿Qué más puedes pedir?</li>
</ul>
</li>
</ul>
</div>
<h3 class="column-header">HAMBURGUESAS</h3>
<div class="columns">
<ul>
 	<li>
<h4><span style="color: #ffffff;">HAMBURGUESA CLÁSICA</span></h4>
<ul>
 	<li>Nuestra Hamburguesa de la Casa. Carne de Res, Tocino, Jitomate,
Lechuga y Queso, acompañada de Papas.</li>
</ul>
</li>
</ul>
<ul>
 	<li>f
<h4><span style="color: #ffffff;">HAMBURGUESA ROJO ARDIENTE</span></h4>
<ul>
 	<li>Carne de Res, con Tocino, Queso Cheddar, Jalapeños Asados, Lechuga y
Aderezo de Chipotle. Acompañada de Papas</li>
</ul>
</li>
</ul>
<ul>
 	<li>
<h4><span style="color: #ffffff;">HAMBURGUESA MEXICANA</span></h4>
<ul>
 	<li>Deliciosa hamburguesa de carne de res con un toque muy mexicano,
preparada con guacamole, totopos chile chiltepín con cebolla
caramelizada Acompañada de Papas.</li>
</ul>
</li>
</ul>
<ul>
 	<li>
<h4><span style="color: #ffffff;">HAMBURGUESA CON CARNE PICANTE)</span></h4>
<ul>
 	<li>Clásica Hamburguesa con Chili de la Casa, Queso Cheddar y Picantes
Jalapeños! Acompañada con Papas.</li>
</ul>
</li>
</ul>
</div>
<h3 class="column-header">ENSALADAS</h3>
<div class="columns">
<ul>
 	<li>
<h4><span style="color: #ffffff;">ENSALADA CÉSAR</span></h4>
<ul>
 	<li>Nuestra Tradicional y ya Favorita Ensalada de Lechuga cubierta con
Aderezo César, Crotones de Pan, Queso Parmesano y deliciosas Tiras de
Pechuga de Pollo a la Plancha.</li>
</ul>
</li>
</ul>
<ul>
 	<li>
<h4><span style="color: #ffffff;">CRUNCHY SALAD</span></h4>
<ul>
 	<li>Generosa porción de lechuga acompañada de crujientes crotones de pan,
queso rallado, pequeños trozos de nuez y arándanos, bañados con el
aderezo de la casa.</li>
</ul>
</li>
</ul>
</div>
<h3 class="column-header">POSTRES</h3>
<div class="columns">
<ul>
 	<li>
<h4><span style="color: #ffffff;">PAY DE QUESO</span></h4>
<ul>
 	<li>El tradicional pay de queso.</li>
</ul>
</li>
</ul>
<ul>
 	<li>
<h4><span style="color: #ffffff;">CAFÉ</span></h4>
<ul>
 	<li>Capuccino</li>
 	<li>Americano</li>
 	<li>Espresso</li>
 	<li>Carajillo</li>
</ul>
</li>
</ul>
</div>
<h3 class="column-header">BEBIDAS</h3>
<div class="columns">
<ul>
 	<li>
<h3 style="text-align: left;"><span style="color: #ffffff;">WHISKY</span></h3>
<ul>
 	<li>Jameson</li>
 	<li>Johnnie Walker Red</li>
 	<li>Johnnie Walker Black</li>
 	<li>Jack Daniel's</li>
 	<li>Jack Daniel's Honey</li>
 	<li>Gentleman Jack</li>
 	<li>Chivas Regal 12 Años</li>
 	<li>Buchanan's 12 Años</li>
 	<li>JB</li>
 	<li>William Lawson's</li>
 	<li>Old Par</li>
</ul>
</li>
</ul>
&nbsp;
<ul>
 	<li>
<h3 style="text-align: left;"><span style="color: #ffffff;">BRANDY</span></h3>
<ul>
 	<li>Terry</li>
 	<li>Torres 5</li>
 	<li>Torres 10</li>
</ul>
</li>
</ul>
&nbsp;
<ul>
 	<li>
<h3 style="text-align: left;"><span style="color: #ffffff;">LICORES</span></h3>
<ul>
 	<li>Baileys</li>
 	<li>Hpnotiq</li>
 	<li>Jägermeister (servicio 4 mezcladores) 700ml.</li>
 	<li>Licor 43</li>
</ul>
</li>
</ul>
&nbsp;
<ul>
 	<li>
<h3><span style="color: #ffffff;">GIN</span></h3>
<ul>
 	<li>Beefeater</li>
 	<li>Tanqueray</li>
</ul>
</li>
</ul>
&nbsp;
<ul>
 	<li>
<h4><span style="color: #ffffff;">RON</span></h4>
<ul>
 	<li>Matusalem Platinum</li>
 	<li>Matusalem Clásico</li>
 	<li>Matusalem 15 Años</li>
 	<li>Matusalem 18 Años</li>
 	<li>Bacardi Blanco</li>
 	<li>Captain Morgan</li>
 	<li>Captain Black</li>
 	<li>Captain White</li>
</ul>
</li>
</ul>
&nbsp;
<ul>
 	<li>
<h3><span style="color: #ffffff;">VODKA</span></h3>
<ul>
 	<li>Smirnoff</li>
 	<li>Absolut</li>
 	<li>Absolut Rasperry</li>
 	<li>Belvedere</li>
 	<li>Stolichnaya</li>
</ul>
</li>
</ul>
&nbsp;
<ul>
 	<li>
<h3><span style="color: #ffffff;">TEQUILA</span></h3>
<ul>
 	<li>Don Julio</li>
 	<li>Don Julio 70</li>
 	<li>Tradicional</li>
 	<li>Herradura Reposado</li>
 	<li>Cazadores</li>
</ul>
</li>
</ul>
</div>


.columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  column-fill: balance;
  column-rule-style: solid;
  column-rule-color: white;
  column-gap: 50px;
}

.column-header {
    color: #ffd100;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

ul {
    margin: 0;
padding: 0;
list-style-type: none;
}

li {
    color: #ffee32;
    list-style: none;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  margin: 10px 0;
}

h4{
    color: #ffd100;
}

/**.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  background: white;
}**/

/**.anchor {
    top: -180px;
}**/
